install-sh
stamp-h1
Makefile.in
config.sub
config.guess
*.la
libtool
bartlby
bartlby_shmt
bartlby_portier
.libs/
include/config.h
.dirstamp
Makefile
*.lo
ltmain.sh
missing
depcomp
compile
include/config.h.in~
m4
aclocal.m4
autom4te.cache
.deps
*.tgz
*.deb
*.o
*.so
src/bartlby
src/libs/mysql.so
src/tools/bartlby_portier
src/tools/bartlby_shmt
config.log
bartlby.cfg
Makefile.conf
bartlby.startup
config.status
bartlby_v2_dh.h
postinstall-pak
preinstall-pak

