env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - secure: "SFSA4o7T0aQ5kgUz06v4EqjJTB4p11Fkq42Vqj3y0OZaiY1dvedMPv0I/a4LNJrNuJs8wTd+bojSambqOsyt3E0mkklGj93KdAzlf0cOUK2N/3/wFBcpwihaKNKnKv9oe+SJCs5m6Ogjx2Vz/8w+0H6u6CXbjoeRxuzDQW5tsm4="

addons:
  coverity_scan:
    project:
      name: "Bartlby/bartlby-core"
      description: "Bartlby Core"
    notification_email: helmut@januschka.com
    build_command_prepend: make clean; ./configure --enable-nrpe --enable-ssl --prefix=$PWD/installation --with-user=travis
    build_command:   make -j4
    branch_pattern: coverity_scan


before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y libjson0-dev libjson0

before_script:
    # Compile PHP
    - ./travis/compile.sh

script: 
 - ./travis/build_check.sh

