
input,td,select { font-size:12px; font-family:tahoma; }

.suggest_link {
				background-color: #FFFFFF;
				padding: 2px 6px 2px 6px;
			}
			.suggest_link_over {
				background-color: #3366CC;
				padding: 2px 6px 2px 6px;
			}
			#search_suggest {
				position: absolute; 
				background-color: #FFFFFF; 
				text-align: left; 
				border: 1px solid #000000;			
			}		

.none { font-size:12px;  }

.big_table { font-size: 10px; }
.nopad {padding: 0; border-collapse: collapse; border-spacing: 0;}
td.navi { vertical-align:top;  font-size: 10pt;  width: 125px;}
td.content { vertical-align: top;  font-size:12px; }

td.nav_main { font-weight: bold; vertical-align: middle; padding-left: 10px; font-size:12px; color:#ffffff;  background-image: url(images/btn_main.gif); height:21px; width:121px; background-repeat: no-repeat; }
td.nav_sub { font-weight: bold; vertical-align: middle; padding-left: 3px; padding-top:0px; font-size:10px; color:#ffffff;  background-image: url(images/btn_sub.gif); height:12px; width:107px; background-repeat: no-repeat; }
td.nav_place { font-size:1px; height:5px; }

td.header { font-weight: bold; vertical-align: middle; padding-left: 10px; font-size:12px; color:#ffffff; height:21px; width:121px; background-color:#999999; }

a:link.sub { text-decoration:none; font-size:10px; color:#ffffff; }
a:visited.sub { text-decoration:none; font-size:10px; color:#ffffff; }
a:hover.sub { text-decoration:underline; font-size:10px; color:#ffffff; }

a:link {font-weight:bold; text-decoration:none; font-size:12px; color:#000000; }
a:visited{font-weight:bold; text-decoration:none; font-size:12px; color:#000000; }
a:hover{font-weight:bold; text-decoration:underline; font-size:12px; color:#000000; }

td.box_left_corner_top { background-image: url(images/left_corner_up.gif); height:20px; width:16px; background-repeat: no-repeat; }
td.box_top_run { width:650px; color: #999999; font-weight:bold; font-size:12px; font-family:tahoma; background-image: url(images/box_run_up.gif); height:20px;  }
td.box_right_corner_top { background-image: url(images/right_corner_up.gif); height:20px; width:16px; background-repeat: no-repeat; }

td.box_left_corner_bottom { background-image: url(images/left_corner_down.gif); height:20px; width:16px; background-repeat: no-repeat; }
td.box_bottom_run { width:250px; color: #999999; font-weight:bold; font-size:12px; font-family:tahoma; background-image: url(images/box_run_down.gif); background-repeat: repeat-x; height:20px; font-size:1px;  }
td.box_right_corner_bottom { background-image: url(images/right_corner_down.gif); height:20px; width:16px; background-repeat: no-repeat; }
td.box_left_run { background-image: url(images/left_corner_run.gif); height:20px; width:16px;  }
td.box_right_run { background-image: url(images/right_corner_run.gif); height:20px; width:16px;  }
td.box_content { width:840px; background-image: url(images/box_bg.gif); font-family:tahoma; font-size:12px; color:#010101; }


td.header1 { font-size:12px; font-family:tahoma; }
td.header { font-size:12px; font-family:tahoma; }


td.red_img {  padding-left:5px;    padding-top:20px; font-family:tahoma; font-size:10px; height:52px; color:#000000; background-image:url(images/bi-oc-red.gif);background-repeat: no-repeat;}
td.green_img { padding-left:5px;    padding-top:20px; font-family:tahoma; font-size:10px; height:52px; color:#000000; background-image:url(images/bi-oc-green.gif);background-repeat: no-repeat;}
td.orange_img {  padding-left:5px;   padding-top:20px; font-family:tahoma; font-size:10px; height:52px; color:#000000; background-image:url(images/bi-oc-yellow.gif);background-repeat: no-repeat;}
td.silver_img {   padding-left:5px;  padding-top:20px; font-family:tahoma; font-size:10px; height:52px; color:#000000; background-image:url(images/bi-oc-silver.gif);background-repeat: no-repeat;}



td.red { padding: 4;   text-valign: middle;  font-family:tahoma; font-size:12px; height:20px; color:000000; background-color:#F83838}
td.green { padding: 4;   text-valign: middle;  font-family:tahoma; font-size:12px; height:20px; color:#000000; background-color:#33FF00}
td.orange { padding: 4;   text-valign: middle;  font-family:tahoma; font-size:12px; height:20px; color:#000000; background-color:#FFFF00}
td.blue { padding: 4;   text-valign: middle;  font-family:tahoma; font-size:12px; height:20px; color:#000000; background-color:#ACACAC}

div.reload {z-index:101;visibility:hidden; position: absolute; left: 840px; top:80px;}
div.ui_performance { position: absolute; left: 5px; top:75px;}
div.clock {position: absolute; left: 800px; top:110px; color:#000000;z-index:3;}
div.quick_look {position: absolute; left: 380px; top:81px; color:#000000;z-index:3;}

div.help {position: absolute; left: 1024px; top:0px; color:#000000;z-index:3;}


.font1 {font-weight:bold; color:#999999; font-family:tahoma; font-size:12px;}
.font2 {font-weight:bold; color:#000000; font-family:tahoma; font-size:12px;}



td.bar_left_yellow {background-image: url(images/bartlby1-bar-yellow_01.gif); height:39px; width:10px; background-repeat: no-repeat;}
td.bar_right_yellow {background-image: url(images/bartlby1-bar-yellow_04.gif); height:39px; width:13px; background-repeat: no-repeat;}
td.bar_middle_yellow {background-image: url(images/bartlby1-bar-yellow_02.gif); height:39px; width:4px; }

td.bar_left_silver {background-image: url(images/bartlby1-bar-silver_01.gif); height:39px; width:10px; background-repeat: no-repeat;}
td.bar_right_silver {background-image: url(images/bartlby1-bar-silver_04.gif); height:39px; width:13px; background-repeat: no-repeat;}
td.bar_middle_silver {background-image: url(images/bartlby1-bar-silver_02.gif); height:39px; width:4px; }



td.bar_left_green {background-image: url(images/bartlby1-bar-green_01.gif); height:39px; width:10px; background-repeat: no-repeat;}
td.bar_right_green {background-image: url(images/bartlby1-bar-green_04.gif); height:39px; width:13px; background-repeat: no-repeat;}
td.bar_middle_green {background-image: url(images/bartlby1-bar-green_02.gif); height:39px; width:4px; }

td.bar_left_red {background-image: url(images/bartlby1-bar-red_01.gif); height:39px; width:10px; background-repeat: no-repeat;}
td.bar_right_red {background-image: url(images/bartlby1-bar-red_04.gif); height:39px; width:13px; background-repeat: no-repeat;}
td.bar_middle_red {background-image: url(images/bartlby1-bar-red_02.gif); height:39px; width:4px; }


td.red_box { padding-left:10px;    padding-top:3px; font-family:tahoma; font-size:10px; height:29px; color:#000000; background-image:url(images/s_red.gif);background-repeat: no-repeat;}
td.green_box { padding-left:10px;    padding-top:3px; font-family:tahoma; font-size:10px; height:29px; color:#000000; background-image:url(images/s_green.gif);background-repeat: no-repeat;}
td.orange_box { padding-left:10px;    padding-top:3px; font-family:tahoma; font-size:10px; height:29px; color:#000000; background-image:url(images/s_yellow.gif);background-repeat: no-repeat;}
td.yellow_box { padding-left:10px;    padding-top:3px; font-family:tahoma; font-size:10px; height:29px; color:#000000; background-image:url(images/s_yellow.gif);background-repeat: no-repeat;}
td.silver_box { padding-left:10px;    padding-top:3px; font-family:tahoma; font-size:10px; height:29px; color:#000000; background-image:url(images/s_silver.gif);background-repeat: no-repeat;}




#dropmenudiv{
position:absolute;
border:1px solid black;
border-bottom-width: 0;
font:normal 12px Tahoma;
line-height:18px;
z-index:100;
}

#dropmenudiv a{
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid black;
padding: 1px 0;
text-decoration: none;
font-weight: bold;
}

#dropmenudiv a:hover{ /*hover background color*/
background-color: #C2CBCF;
}
